/venv
/images
/cycleGAN-training/images
/cycleGAN-training/images_subs
/cycleGAN-training/pretrained
/cycleGAN-training/labels
/cycleGAN-training/operations_list.txt
/cycleGAN-training/models
cycleGAN-training/__pycache__/main.cpython-312.pyc
/cycleGAN-training/__pycache__
/yolo-training/ExDark-dataset
/ready-models/
/sid-training/checkpoints
/sid-training/checkpoint
/sid-training/dataset
/sid-training/result_png
/sid-training/results_png
/sid-training/train_Sony.py
/sid-training/train_Fuji.py
/sid-training/test_Sony.py
/sid-training/test_Fuji.py
/cycleGAN-training/*.zip
/videos
/server/*/__pycache__
/server/models
/server/__pycache__