/venv
/images
/cycleGAN-training/images
/cycleGAN-training/images_subs
/cycleGAN-training/pretrained
/cycleGAN-training/labels
/cycleGAN-training/operations_list.txt
/cycleGAN-training/models
cycleGAN-training/__pycache__/main.cpython-312.pyc
/yolo-training/ExDark-dataset
/ready-models/
/sid-training
/cycleGAN-training/*.zip